.in-h3 { 
    text-align: right;
    color: brown;
    font-size: x-large;

}
body { 
    background-color:lightblue ;
  }

  li { 
    text-align: right;
    color: brown;
    font-size: x-large;

  }

  .tr-h1 { 
      font-size :large;
      text-align: center;
  }

  .th-h1 { 
      font-size: xx-large;
        color: mediumblue;
    text-decoration:  underline;

  }
  .tr2 { 
      font-size: x-large;
      color:saddlebrown
  }

  